.arrow {
	position: relative;

	&:after, &:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -15px;
		display: none;
		@include size(11px 29px);
		background: transparent url('#{$imgPath}arrow.png');
	}

	&-after {
		&:after {
			display: inline-block;
		}
	}

	&-before {
		&:before {
			display: inline-block;
		}
	}
}