.chat {
	@include verticalGradient(#c1c1c1, #dbdad6);
}

@media (min-width: $desktop) {
	.chat {
		.tabs {
			position: relative;
			top: -58px;
			left: -30px;
			margin-right: -53px;
		}

		.tabContent {
			position: relative;
			top: 40px;
			padding-bottom: 0;
		}
	}
}