.form {
	label {
		@include fontWeight(500);
		display: block;
		cursor: pointer;
		padding: 0 0 13px 10px;
	}

	.invalid {
		input, textarea {
			&:required:invalid {
				border-color: #aa0000;
				background-color: #B0888B;
			}
		}
	}

	input, textarea {
		border: 2px solid #936132;
		font-size: 18px;
		font-family: inherit;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;

		&:focus, &:valid {
			border-color: #784D2B;
		}

		&:valid {
			border-color: green;
		}
	}

	input {
		@include size(100% 53px);

		&[type=submit] {
			@include fontWeight(600);
			border-color: #936132;
			text-transform: uppercase;
			background-color: #936132;
			color: $white;
			margin-top: 16px;
			height: auto;
			padding: 10px 32px;
			cursor: pointer;

			&:hover {
				background-color: #784D2B;
				border-color: #784D2B;
			}
		}

		&.datepicker {
			background-image: url('#{$imgPath}icon-calendar.png');
			background-position: 96% center;
			background-repeat: no-repeat;
		}
	}

	textarea {
		@include size(100% 157px);
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		resize: none;
	}

	.errorMessage {
		@include fontWeight(600);
		color: #aa0000;
		margin: -12px 0 10px 10px;
	}

	.item {
		&-message {
			margin-top: 14px;
		}
	}
}

@media (min-width: $bigTablet) {
	.form {
		.item {
			width: 410px;

			&-name, &-date {
				float: left;
			}

			&-date {
				width: 250px;
				margin-left: 60px;
			}

			&-main {
				clear: left;
			}
		}

		input {
			&[type=submit] {
				width: auto;
			}
		}
	}
}