// reset
html, body, ul, li, input, textarea, form, p, h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	padding-bottom: 51px;
}

// <ie9 elements
header, nav, section, article, footer {
	display: block;
}

* {
	@include box-sizing(border-box);

	&:focus {
		outline: none;
	}
}

a {
	color: $black;

	img {
		border: 0;
	}
}

img {
	max-width: 100%;
}

// mobile device padding
.centering {
	padding-left: $mobileOffset;
	padding-right: $mobileOffset;
}

.clear {
	//clear: both;
}

body {
	.tal {
		text-align: left;
	}

	.tar {
		text-align: right;
	}
}

@media (min-width: $smallTablet) {
	body {
		padding-bottom: 0;
		padding-top: 88px;
	}
}

@media (min-width: $desktop) {
	body {
		padding-top: 0;
	}
	
	.centering {
		padding-left: 10px;
		padding-right: 10px;
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
	
	.header {
		.centering {
			padding: 0;
		}
	}
}