.problems {
	@include verticalGradient(#c1c1c1, #dbdad6);
	padding-top: 21px;
	padding-bottom: 40px;

	.item {
		padding-bottom: 53px;

		&-with-image {
			h3 {
				padding-bottom: 10px;
			}
		}

		img {
			vertical-align: bottom;
			margin-right: 14px;
			position: relative;
			top: -1px;
		}
	}
}

@media (min-width: $smallTablet) {
	.problems {
		.list {
			&:after {
				display: block;
				content: '';
				clear: both;
			}
		}

		.item {
			float: left;
			width: 50%;

			&.odd {
				padding-right: 5%;
			}

			&.even {
				padding-left: 5%;
			}
		}
	}
}

@media (min-width: $bigTablet) {
	.problems {
		.button {
			width: 250px;
		}
	}
}

@media (min-width: $desktop) {
	.problems {
		padding-bottom: 90px;
		
		.item {
			width: 480px;

			&.even, &.odd {
				padding-left: 0;
				padding-right: 0;
			}

			&.even {
				width: 460px;
			}
		}
		
		p {
			max-width: 250px;
		}
	}
}