body {
	font-family: 'Dosis', 'Arial', 'Helvetica', sans-serif;
	font-size: 18px;
	@include fontWeight(300);
}

h1 {
	font-size: 22px;
	line-height: 24px;
}

h2 {
	@include fontWeight(600);
	font-size: 22px;
	line-height: 24px;
	padding-bottom: 25px;
}

h3 {
	@include fontWeight(500);
	font-size: 18px;
	padding-bottom: 3px;
}

p {
	padding-bottom: 16px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.tdu {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

@media (min-width: $bigTablet) {
	h2 {
		font-size: 28px;
		line-height: 36px;
		padding-bottom: 26px;
	}
}

@media (min-width: $desktop) {
	h1 {
		font-size: 28px;
		line-height: 30px;
	}
}